### Udacity Data Scientist Nanodegree - Part 1 Project

**CRISP-DM process** (Business Understanding, Data Understanding, Data Preparation, Modeling, Evaluation, Deployment)

- Business Questions
    - Como varía la dispobilidad a lo largo del año
    - Mejores fechas por precio para conseguir un apartamento
    - que apartamentos tienen mejores reviews
    - es posible predecir el precio para una fecha
    
- Categorical and missing values
- EDA
- Modeling

In [1]:
# Import libraries
import numpy as np 
import pandas as pd

In [2]:
# Load files into dataframes
calendar_df = pd.read_csv('data/calendar.csv')
listings_df = pd.read_csv('data/listings.csv')
reviews_df = pd.read_csv('data/reviews.csv')

In [6]:
reviews_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...